@page
@model Greenfield.Web.Pages.Properties.CreateModel

@{
    ViewData["Title"] = "New Property";
}

<div class="container p-3 bg-light bg-opacity-50">
    <h1>New Property</h1>
    <hr />
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Property.Name" class="control-label"></label>
                    <input asp-for="Property.Name" class="form-control" />
                    <span asp-validation-for="Property.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Property.PropertyType" class="control-label"></label>
                    <select asp-for="Property.PropertyTypeId" asp-items="Model.PropertyTypeList" class="form-control"></select>
                    <span asp-validation-for="Property.PropertyType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Property.Description" class="control-label"></label>
                    <textarea asp-for="Property.Description" class="form-control"></textarea>
                    <span asp-validation-for="Property.Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}